/* App.css */

/* Ensure the root allows scrolling */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

/* Main container styles */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Content container */
.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: calc(100vh - 100px); /* Subtract header height */
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box;
  gap: 0.5rem;
}

/* Sticky radio container */
.radio-container-wrapper {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  height: 100vh; /* Full viewport height */
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Sections container */
.sections-container {
  flex-grow: 1;
  overflow: visible; /* Allow sticky elements to remain in view */
  padding: 2rem 1rem;
  box-sizing: border-box;
}

/* Ensure the Header spans the top */
.header-container {
  width: 100%;
  position: sticky; /* Make header sticky */
  top: 0;
  z-index: 50; /* Ensure it stays above other elements */
  background-color: #000000; /* Add background color if needed */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}

.text-lightgray {
  color: lightgray;
}

.border-box {
  border: 2px solid white; /* Adjust the border color and width as needed */
  padding: 10px; /* Add padding inside the border */
  border-radius: 5px; /* Optional: round the corners */
}

.brush-script {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.5rem;
  color: white;
}

.italic-script {
  font-style: italic;
  font-size: .75rem;
}

/* Star Sections */
.star-container {
  position: fixed; /* Stays fixed in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Lower z-index to keep behind other elements */
  pointer-events: none; /* Prevent blocking interactions */
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: moveStar 5s linear infinite;
}

.star.blur {
  filter: blur(4px);
}

@keyframes moveStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}
@keyframes shoot {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 100px); /* Adjust for diagonal shooting */
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1; /* Star fully visible at halfway through */
  }
  100% {
    opacity: 0; /* Fade out at the end */
  }
}